body {
    display: flex;
    background:url(../img/icon-dark.png);
      



}

.puntuacion{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: rgb(13, 247, 4);
}